@font-face {
    font-family: brw;
    src: url('https://amenoko.github.io/ksjsndhxis/BRWakaisho-Regular.ttf') format('truetype');
}
:root {
    /* darker: --accent: #5290ac; */
    --accent: #81bfdc;
    --bg1: #1c1c22;
    --bg2: #202026;
    --bg3: #26262d;
    --fg1: #dddddf;
    --fg2: #88888c;
    --fg3: #66666c;
    --gradient: linear-gradient(90deg, rgba(28,28,31,1) 0%, rgba(68,68,73,1) 50%, rgba(28,28,31,1) 100%);
}

body {
    color: var(--fg1);
    background-color: var(--bg1);
    font-family: BR Wakaisho, brw;
    font-size: 14px;
    display:flex;
    flex-direction:column;
    height: 100vh;
    margin:0px;
}

.grey {color:var(--fg2);}

#greeting {display:none;margin:10px;}

a, a:visited {color:var(--accent);text-decoration:none;}
a:hover {text-decoration:underline;}

.no_results {
    color:var(--fg2);
    margin:10px;
}

#results_container {
display:none;
flex-direction:column;
flex-grow:1;
margin: 0px 5px 5px 5px;
}

.results_container_column {
    border:solid 1px;
    border-color: var(--accent);
    border-radius:5px;
    margin-top: 6px;
    flex-grow:1;
}

.row_container {
    display:flex;
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
    border-bottom-style: solid;
    border-width:1px;
    border-color: var(--fg3);
}

.row_prio_container {
    flex-direction: column;
}

/* this was needed to account for search bar on mobile
 * but we now have metadata for installing mobile site as
 * app, which removes the address bar, so I think it's fine */
/* .results_container_column_inside {
    margin-bottom:400px;
}*/

/* KANJIDIC2 ENTRY */
.kanjidic2_kanji, .kanjidic2_meanings, .kanjidic2_readings, .kanjidic2_joyo, .kanjidic2_hyougai {
    align-content:center;
    display:inline;
    line-height:25px;

}
.kanjidic2_kanji {
    font-size: 20px;
}
.kanjidic2_meanings {
    font-size:13px;


}
.kanjidic2_readings {
    color: var(--fg2);
    font-size:13px;
}

.kanjidic2_kanji, .kanjidic2_readings, .kanjidic2_meanings
{margin: 0px 10px 0px 0px; }

.kanjidic2_joyo, .kanjidic2_hyougai {
    font-size: 10px;
}
.kanjidic2_joyo { color:var(--accent); }
.kanjidic2_hyougai { color:var(--fg2); }


.row_container:has(.kanjidic2_kanji) {
    border-bottom-color:var(--accent);
    flex-wrap:wrap;
    display:block;
    padding: 5px 0px 5px 0px;
}


/* JMDICT ENTRY */
.meanings_readings {
    width: 25%;
    min-width: 25%;
    font-size:20px;
    margin: 5px 10px 5px 0px;
    padding:0px;
}
/* rebs by default are grey but if there's
 *  no kebs that's ugly */
.keb, .reb_white {
    color:var(--fg1);
}
.reb {
    color:var(--fg2);
    font-size: 14px;
}
.k_ele_freq, .k_ele_other {
    color:var(--fg2);
    font-size:10px;
}
.keb, .k_ele_other, .k_ele_freq {margin-right:5px;display:inline;}
.k_ele_other:last-child, .k_ele_freq:last-child {margin-right:0px;}
.k_ele_freq {
    color:var(--accent);
    /*font-weight: bold;*/
}

.senses_extras {
    color: var(--fg2);
    font-size: 12px;
}

.senses_block_container {
    margin:0px 0px 5px 0px;
    padding:0px;
}
.senses_block_container:last-child {margin:0px;}
.senses_container {
    display:flex;
    flex-direction:column;
    margin:5px;
    /*flex-wrap:wrap;*/
}

/* SEARCH BAR */
input  {
    background-color: var(--bg1);
    color: var(--fg1);
    border: solid 1px;
    padding:0px;
    border-color: var(--accent);
    border-radius:5px;
    font-family: BR Wakaisho;
    font-size:18px;
}
input:hover {
    background-color: var(--bg3);
}
#status {
    font-size: 16px;
    text-align:center;
    padding: 0px 5px 0px 5px;
}

#search_button {
    opacity:1;

}
#search_field, #search_button, #paste {
    flex-grow:1;
}

#search_field, #search_button, #status, #paste {
    margin-right:5px;
}

#search_bar {
    display:flex;
    flex-direction:row;
    align-content:center;
    padding: 5px 0px 0px 5px;
    height:35px;
}

#search_button, #paste {

    align-content:center;
    max-width:150px;
}
#search_field {
    min-width:0px;
    align-content:center;
    flex-grow:1;
}

#results_count, #status {
    margin-right:5px;
    align-content:center;
}
#results_count {
    flex-grow:1;
    text-align:right;
}
input {
    padding: 0px 5px 0px 5px;
}


/* minor adjustments for small viewports/phones */
@media (max-width: 800px) {
    .k_ele_other, .keb {display:block;}
    body {zoom:95%;}
    .k_ele_container > br {display:none;}
    #status {padding:0px;}
}
