@font-face {
    font-family: brw;
    src: url('https://amenoko.github.io/ksjsndhxis/BRWakaisho-Regular.ttf') format('truetype');
}
:root {
    /* darker: --accent: #5290ac; */
    --accent: #81bfdc;
    --accent_dark: #5290ac;
    --bg1: #1c1c22;
    --bg2: #202026;
    --bg3: #26262d;
    --fg1: #dddddf;
    --fg2: #88888c;
    --fg3: #66666c;
    --gradient: linear-gradient(90deg, rgba(28,28,31,1) 0%, rgba(68,68,73,1) 50%, rgba(28,28,31,1) 100%);
}

body {
    color: var(--fg1);
    background-color: var(--bg1);
    font-family: BR Wakaisho, brw;
    font-size: 14px;
    display:flex;
    flex-direction:column;
    height: 100vh;
    margin:0px;
}

.grey {color:var(--fg2);}

#greeting {display:none;margin:10px;}

a, a:visited {color:var(--accent);text-decoration:none;}
a:hover {text-decoration:underline;}

.no_results {
    color:var(--fg2);
    margin:10px;
}

#results_container {
display:none;
flex-direction:column;
flex-grow:1;
margin: 0px 5px 5px 5px;
}

.results_container_column {
    border:solid 1px;
    border-color: var(--accent);
    border-radius:5px;
    margin-top: 6px;
    flex-grow:1;
}

.row_container {
    display:flex;
    margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
    border-bottom-style: solid;
    border-width:1px;
    border-color: var(--fg3);
}

.row_prio_container {
    flex-direction: column;
}

/* this was needed to account for search bar on mobile
 * but we now have metadata for installing mobile site as
 * app, which removes the address bar, so I think it's fine */
/* .results_container_column_inside {
    margin-bottom:400px;
}*/

/* KANJIDIC2 ENTRY */
.kanjidic2_kanji, .kanjidic2_meanings, .kanjidic2_readings, .kanjidic2_joyo, .kanjidic2_hyougai {
    align-content:center;
    line-height:25px;

}
.kanjidic2_kanji {
    font-size: 20px;
}
.kanjidic2_meanings {
    font-size:13px;
}
.kanjidic2_readings {
    color: var(--fg2);
    font-size:13px;
}

.kanjidic2_kanji, .kanjidic2_readings, .kanjidic2_meanings
{margin: 0px 10px 0px 0px; }

.kanjidic2_joyo, .kanjidic2_hyougai {
    font-size: 10px;
}
.kanjidic2_joyo { color:var(--accent); }
.kanjidic2_hyougai { color:var(--fg2); }


.row_container:has(.kanjidic2_kanji) {
    border-bottom-color:var(--accent);
    flex-wrap:wrap;
    padding: 0px 0px 0px 0px;
}


/* JMDICT ENTRY */
.meanings_readings {
    width: 25%;
    min-width: 25%;
    font-size:20px;
    margin: 5px 10px 5px 0px;
    padding:0px;
}
/* rebs by default are grey but if there's
 *  no kebs that's ugly */
.keb, .reb_white {
    color:var(--fg1);
}
.reb {
    color:var(--fg2);
    font-size: 14px;
}
.k_ele_freq, .k_ele_other {
    color:var(--fg2);
    font-size:10px;
}
.keb, .k_ele_other, .k_ele_freq {margin-right:5px;display:inline;}
.k_ele_other:last-child, .k_ele_freq:last-child {margin-right:0px;}
.k_ele_freq {
    color:var(--accent);
    /*font-weight: bold;*/
}

.senses_extras {
    color: var(--fg2);
    font-size: 12px;
}

.senses_block_container {
    margin:0px 0px 5px 0px;
    padding:0px;
}
.senses_block_container:last-child {margin:0px;}
.senses_container {
    display:flex;
    flex-direction:column;
    margin:5px;
    /*flex-wrap:wrap;*/
}

.senses_german {
    font-size: 12px;
    display:inline;
}

.senses_german_lead {
    color: var(--accent);
    display:inline;
    font-size: 12px;
    margin: 0px;
}
.senses_german_lead:first-child { margin: 0px 5px 0px 0px; }

/* SEARCH BAR */
input, #search_field_parent  {
    background-color: var(--bg1);
    color: var(--fg1);
    padding:0px;
    font-family: BR Wakaisho;
}
input:hover {
    background-color: var(--bg3);
}

#search_button, #paste, #clear_paste, #search_field_parent {
    font-size: 13px;
    border: solid 1px;
    border-color: var(--accent);
    border-radius:4px;
}
#clear_paste, #paste { font-size: 11px; white-space:normal; line-height:10px;}

#search_button:active, #paste:active, #clear:active, #clear_paste:active {
    background-color: var(--accent);
    color:var(--bg1);
}

#status {
    text-align:center;
    padding: 0px 5px 0px 5px;
    animation: status_animation 1s ease infinite;
}
@keyframes status_animation {
        0%, 35%, 85%, 100% {opacity:1;}
        60% {opacity:0;}
}

#search_button {
    opacity:1;
}

#search_field, #search_button, #paste, #clear_paste {
    flex-grow:1;

}

#search_field_parent, #search_button, #status, #paste, #clear_paste {
    margin-right:5px;
}

#search_bar {
    display:flex;
    flex-direction:row;
    align-content:center;
    padding: 5px 0px 0px 5px;
    height:28px;
}

#search_button, #paste, #clear_paste {
    align-content:center;
    max-width:90px;
}
#search_field_parent {
    min-width:0px;
    flex-grow:1;
    display:flex;
    flex-direction:row;
    overflow:hidden;
    animation: heartbeat 1s infinite;
    box-shadow: none;
}
#search_field_parent:hover { background-color: var(--bg2); }

#search_field:disabled, .search_field_parent_disabled, #search_button:disabled, #paste:disabled, #clear:disabled, #clear_paste:disabled {
    border-color: var(--fg2) !important;
    color: var(--fg2) !important;
    animation:none !important;
    box-shadow:none;
}
#search_field { border:none !important; padding-right:5px;}
#search_field:hover { background:none; }

#clear {
    /*border-left-style: solid;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: none; */
    border:none;
    border-width: 1px;
    border-color: var(--accent);
    border-radius:0px;
}

#results_count, #status {
    padding: 0px 5px 0px 5px;
    align-content:center;
    font-size: 14px;
}
#results_count {
    flex-grow:1;
    text-align:right;
    padding: 0px 5px 0px 0px;
}
input {
    padding: 0px 5px 0px 5px;
}

#clear {
    padding: 0px 10px 0px 10px;
    color:var(--fg1);
    font-size:19px;
}

#clear:active {
    background-color:red;
    border:none;
}

@keyframes sweep1 {
    0%,10%,40%,100% { border-color: var(--accent); }
    25% { border-color:white;}
}
@keyframes sweep2 {
    0%,14%,44%,100% { border-color: var(--accent); }
    29% { border-color:white;}
}
@keyframes sweep3 {
    0%,18%,48%,100% { border-color: var(--accent); }
    33% { border-color:white;}
}
@keyframes sweep4 {
    0%,22%,52%,100% { border-color: var(--accent); }
    37% { border-color:white;}
}
@keyframes sweep5 {
    0%,26%,56%,100% { border-color: var(--accent); }
    41% { border-color:white;}
}/*
#search_field { animation: 1s infinite sweep1; }
#search_button { animation: 1s infinite sweep2; }
#clear { animation: 1s infinite sweep3; }
#paste { animation: 1s infinite sweep4; }
#clear_paste { animation: 1s infinite sweep5; }*/

@keyframes heartbeat {
    0%,55% { box-shadow: 0px 0px 0px 0px #ffffff44; }
    22% { box-shadow: 0px 0px 1px 1px #ffffff44; }
    7% {box-shadow: 0px 0px 3px 3px #ffffff44;}
    37% {box-shadow: 0px 0px 2px 3px #ffffff44;}
}

/* minor adjustments for small viewports/phones */
@media (max-width: 800px) {
    .k_ele_other, .keb {display:block;}
    body {zoom:95%;}
    .k_ele_container > br {display:none;}
    #status, #results_count {font-size:11px;}
    #search_bar {height:35px;}
    #search_field, #search_button { max-width:unset; }
    #search_button, #paste { width: 100px; }
    #paste, #clear_paste { font-size:10px; }
    input:hover { background-color:var(--bg1); }
}
