@font-face {
    font-family: brw;
    src: url('https://amenoko.github.io/ksjsndhxis/BRWakaisho-Regular.ttf') format('truetype');
}
:root {
    /* darker: --accent: #5290ac; */
    --accent: #81bfdc;
    --accent_dark: #5290ac;
    --bg1: #1c1c22;
    --bg2: #202026;
    --bg3: #81bfdc50;
    --fg1: #dddddf;
    --fg2: #88888c;
    --fg3: #66666c;
    --fgh: white; /* highlight (for button text) */
    --gradient: linear-gradient(90deg, rgba(28,28,31,1) 0%, rgba(68,68,73,1) 50%, rgba(28,28,31,1) 100%);
    --mobile-offset: 0px;
    scrollbar-width:none; /* manually make scrollbars visible in iframes via js */
    scrollbar-color: var(--fg3) #00000000;
}

body {
    color: var(--fg1);
    background-color: var(--bg1);
    display:flex;
    flex-direction:column;
    height: 100dvh;
    margin:0px;
    -webkit-text-size-adjust: none;
    overflow:hidden; /* fix this in js for iframes as well */
}

body, #search_button, #paste, #clear_paste
{ font-family: sans-serif; }

.kanjidic2_kanji, .kanjidic2_readings, .keb, .reb,
.reb_white, input#search_field, .search_term_header、
#notification, .search_term_header
{ font-family: BR Wakaisho, brw; }

/* FONT SIZES */
body, #search_button,
.senses_block_container, .senses_block_container_de,
.senses_glosses, .senses_container, .meanings_readings,
.row_container, .kanji_mr_container,
.results_container_column_inside, #light_mode_button,
#two_column_button
{ font-size: 14px; }
#search_field, .search_term_header, .reb_white, .keywordbox
{ font-size: 18px; }
#clear_paste, #paste
{ font-size: 10px; }
#clear
{ font-size: 14px; }
#status, #results_count
{ font-size: 12px; }
.kanjidic2_kanji, .keb
{ font-size: 22px; }
.k_ele_freq, .k_ele_other,
.kanjidic2_joyo, .kanjidic2_hyougai, .kanjidic2_jinmeiyou
{ font-size: 10px; }
.kanjidic2_link_container
{ font-size: 12px; }
.reb, .senses_german, .senses_german_lead,
.senses_extras, .kanjidic2_meanings, .kanjidic2_readings
{ font-size: 12px; }

@media (max-width: 800px) {
    #search_field
    { font-size: 24px; }
    #clear_paste, #paste
    { font-size: 12px; }
    #greeting_inner
    { font-size: 12px; }
}
/* FONT SIZES END */

/* MARGINS AND PADDINGS */
#search_bar, #results_container
    { padding: 6px 6px 0px 6px; }
#search_field, #clear
    { padding: 0px 5px 0px 5px; }
#search_field
    { margin: -1px -1px -1px 5px; } /* -1px to fix fix weird border in chromium */
#notification
    { padding: 10px 15px 10px 15px; }
.no_results
    { margin: 5px; }
.results_container_column:not(.results_container_column:first-child)
    { margin-top:6px; }
.row_container, #greeting
    { padding: 6px; }
#search_button, #light_mode_button, #two_column_button
    { padding: 6px;}
/* for horizontal lists, margin-right */
#search_field_parent, #search_button, #status, #paste, #clear_paste, #results_count
    { margin-right: 6px; }
.keb, .k_ele_freq:not(#greeting_inner > .k_ele_freq), .k_ele_other, .senses_german_lead:first-child
    { margin-right: 5px; }
.kanjidic2_kanji, .kanjidic2_readings, .kanjidic2_meanings
    { margin-right:8px;}
/* vertical lists margin-bottom */
.senses_block_container
    { margin-bottom: 5px; }

@media (max-width: 800px) {
    #search_field_parent, #search_button, #status, #paste, #clear_paste, #results_count
        { margin-right:3px; }
    #search_field
        { padding: 0px 5px 0px 5px; }
    #paste, #clear_paste
        { padding: 2px; }
}
/* MARGINS AND PADDINGS END */

#notification_container {
    position:fixed;
    bottom: 50%;
    display:none;
    transition: all 0.3s linear;
    width: 50%;
    left:25%;
    text-align:center;
}

#notification {
    color: var(--fg1);
    background-color: var(--bg1) !important;
    border-color: var(--accent) !important;
    border-radius: 4px;
    box-shadow: 0px 0px 15px 0px black;
    border:1px solid;
    font-family: BR Wakaisho, brw;
    width:100%;
}

@keyframes notif_fadeout {
    0%, 80% { opacity:1; }
    100% { opacity:0; }
}


.search_term_header {
    text-align:center;
    color:var(--accent);
    position:fixed;
    top:5px;
    right:5px;
    transition: all 0.1s ease-out;
}

.search_term_header:hover {
    opacity:0;
}

#greeting_container {
    display:none;
    height:100%;
    border:none;
    padding:10px;
}

#greeting_inner {
    overflow:scroll;
    display:inline;
}

a, a:visited {color:var(--accent);text-decoration:none;}
a:hover {text-decoration:underline;}

.no_results {
    color:var(--fg2);
}

#results_container {
display:none;
flex-direction:column;
flex-grow:1;
}

.results_container_column {
    border:solid 1px;
    border-color: var(--accent);
    border-radius:5px;
    flex-grow:1;
}

.row_container {
    display:flex;

    border-bottom-style: solid;
    border-width:1px;
    border-color: var(--fg3);
}

.row_prio_container {
    flex-direction: column;
}

/* KANJIDIC2 ENTRY */
.kanjidic2_kanji, .kanjidic2_mr_container
{ align-content: center; }
.kanjidic2_meanings, .kanjidic2_readings, .kanjidic2_joyo, .kanjidic2_hyougai {
    display:inline;
}
.kanjidic2_readings {
    color: var(--fg2);
}

.kanjidic2_joyo { color:var(--accent); }
.kanjidic2_hyougai { color:var(--fg2); }


.row_container:has(.kanjidic2_kanji) {
    border-bottom-color:var(--accent);
}


/* JMDICT ENTRY */
.meanings_readings {
    width: 25%;
    min-width: 25%;

}
/* rebs by default are grey but if there's
 *  no kebs that's ugly */
.keb, .reb_white {
    color:var(--fg1);
}
.reb {
    color:var(--fg2);
}
.k_ele_freq, .k_ele_other {
    color:var(--fg2);
}
.keb, .k_ele_other, .k_ele_freq {display:inline;}
.k_ele_freq {
    color:var(--accent);
    /*font-weight: bold;*/
}

.senses_extras {
    color: var(--fg2);
}

.senses_container {
    display:flex;
    flex-direction:column;
    /*flex-wrap:wrap;*/
}

.senses_german {
    display:inline;
}

.senses_german_lead {
    color: var(--accent);
    display:inline;
}

/* SEARCH BAR */
/* artificial autohide
.search_bar_visible {
    opacity: 1;
}
.search_bar_hidden {
    transform: translateY(-100);
} */

input, #search_field_parent  {
    background-color: var(--bg1);
    color: var(--fg1);
    transition: all 0.5 ease;
}
:is(#clear, #search_button, #paste, #clear_paste, #light_mode_button, #two_column_button):hover {
    background-color: var(--bg3);
    color: var(--fgh);
    opacity:1;
}

#search_button, #paste, #clear_paste, #search_field_parent,
#light_mode_button, #two_column_button {
    border: solid 1px;
    border-color: var(--accent);
    border-radius:4px;
}
#clear_paste, #paste { white-space:normal;}

:is(#search_button, #paste, #clear, #clear_paste, #light_mode_button, #two_column_button):active {
    background-color: var(--accent);
    color: var(--bg1);
}

#status {
    text-align:center;
    animation: status_animation 1s ease infinite;
}
@keyframes status_animation {
        0%, 35%, 85%, 100% {opacity:1;}
        60% {opacity:0;}
}

#search_button {
    opacity:1;
}

#search_field, #search_button, #paste, #clear_paste {
    flex-grow:1;

}

#search_bar {
    display:flex;
    flex-direction:row;
    align-content:center;
    height:34px;
    bottom: 0px;
}

#search_button, #paste, #clear_paste {
    align-content:center;
    max-width:90px;
}
#search_field_parent {
    min-width:0px;
    flex-grow:1;
    display:flex;
    flex-direction:row;
    overflow:hidden;
    animation: heartbeat 1s infinite;
    box-shadow: none;
}

#search_field:disabled, .search_field_parent_disabled, #search_button:disabled, #paste:disabled, #clear_paste:disabled {
    border-color: var(--fg2) !important;
    color: var(--fg2) !important;
    animation:none !important;
    box-shadow:none;
}
#clear { opacity: 0; }
#search_field {
    border:none !important;
    min-width:0px;
    outline: none;
}
#search_field:hover { background:none; }

#clear {
    /*border-left-style: solid;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: none; */
    border:none;
    border-width: 1px;
    border-color: var(--accent);
    border-radius:0px;
    background-image: url("x.png");
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 24px;
    opacity: 0.5;
}

#results_count, #status {
    align-content:center;
}
#results_count {
    flex-grow:1;
    text-align:right;
}

#clear {
    color:var(--fg1);
}

#clear:active {
    background-color:red;
    border:none;
}

@keyframes heartbeat {
    0%,45%,100% { box-shadow: 0px 0px 0px 0px var(--accent); }
    52% {box-shadow: 0px 0px 5px 1px var(--accent);}
    67% { box-shadow: 0px 0px 3px 0px var(--accent); }
    80% {box-shadow: 0px 0px 5px 1px var(--accent);}
}

.activate {
    animation: activation 0.5s !important;
}

@keyframes activation {
    5% { filter:drop-shadow(0px 0px 15px var(--accent)); }
    0, 100% { filter:drop-shadow(1px 1px 1px #00000000); }
}


.keywordbox {
    align-content:center;
    border:none;
    border-radius:4px;
    padding: 0px 0px 0px 5px;
    margin: auto;
    margin-left: 5px;
    display:flex;
    font-family: BR Wakaisho;
    height:fit-content;
    place-items:center;
    color: var(--accent);
    border-color: var(--accent);
    height:25px;
    white-space: nowrap;
}
.keywordbox:hover {
    border-color: var(--accent);
}
input.keywordbox_x {
    display:inline;
    color:var(--bg3);
    padding-right:8px;
    padding-left:5px;
    margin-left:2px;
    border:none;
    font-size:10px;
    font-family: sans-serif;
    background: url("x.png");
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    height: 100%;
}
input.keywordbox_x:hover {
    opacity: 1;
    filter:drop-shadow(0px 0px 2px var(--accent));
    background-color: #00000000; /* because of input:hover earlier above */
}

.grey { color:var(--fg2); border-color:var(--fg2); }


.results_container_column_inside {
    transition: box-shadow 0.4s;
    box-shadow: 0px 0px 0px 0px #00000000 inset;
}

.inset_shadow {
    box-shadow: 0px 0px 10px 10px var(--accent) inset;
}

/* minor adjustments for small viewports/phones */
@media (max-width: 800px) {
    .k_ele_other, .keb {display:block;}
    .k_ele_container > br {display:none;}
    #search_bar {height:54px;}
    #search_field, #search_button { max-width:unset; }
    #search_button, #paste, #clear_paste { width: 190px; }
    input:hover, #clear:hover, #search_field:hover { background-color:var(--bg1); }
    /*.kanjidic2_meanings, .kanjidic2_readings, .kanjidic2_joyo, .kanjidic2_hyougai
    { line-height: 16px; }*/

    /* search bar to bottom */
    #search_bar {
        position: fixed;
        bottom: var(--mobile-offset);
        background-color: var(--bg1);
        width: 100dvw;
        box-shadow: 0px 0px 15px 0px black;
        padding: 3px;
        height:54px;
        border-width: 1px;
    }


    body {
        /* allow browser to auto-hide the address bar */
        height: calc(100dvh + 1px);
    }
    #results_container {
        padding:0px;
        max-height: calc(100dvh - 60px);
        margin:0px;
    }

    .results_container_column {
        margin:0px;
        border-bottom-style:solid;
        border-top-style: none;
        border-right-style: none;
        border-left-style:none;
        border-radius: 0px;
        border-width:2px;
    }
    .results_container_column:not(.results_container_column:first-child) {
        margin: 0px;
    }

    #notification_container {
        width:90%;
        left:5%;
    }
}

@media (min-width: 1400px) {
    .results_container_column, .results_container_column:not(.results_container_column:first-child){
        margin: 0px;
        min-width: 49%;
        /* max-width: 49%; */
        /* width: 50%; */
        /* align-content: center; */
        flex-grow: 1;
    }

    #results_container {
    flex-direction:row-reverse;
    flex-wrap:wrap;
    margin:0px;
    }
}
