.results_container_column, .results_container_column:not(.results_container_column:first-child){
      margin: 0px;
      min-width: 49%;
      /* max-width: 49%; */
      /* width: 50%; */
      /* align-content: center; */
      flex-grow: 1;
}

#results_container {
   flex-direction:row-reverse;
   flex-wrap:wrap;
   margin:0px;
}
